.container {
  position: relative;
  width: 112px;
}

.tooltip {
  position: absolute;
  width: 180px;
  padding: 4px 12px;
  margin-left: calc(100%);
  justify-content: center;
  color: #FFFFFF;
  background-color: #FF8E00;
  border-radius: 12px ;
  text-align: center;
  white-space: pre-line;
  font-weight: 700 ;
  pointer-events: none;
}

.exampleEnter {
  opacity: 0;
  transform:translateY(-100%);
}
.exampleEnterActive {
  opacity: 1;
  transform:translateY(0);
  transition: opacity 350ms, transform 350ms;
}
.exampleExit {
  opacity: 1;
  transform:translateY(0);
}
.exampleExitActive {
  opacity: 0;
  transform:translateY(100%);
  transition: opacity 350ms, transform 350ms;
}
