.container {
  display: flex;
  flex-direction: column;
  padding: 64px;
}

.buttonContainer {
  display: flex;
}

*[data-hint] {
  position: relative;
}

*[data-hint]:hover:after {
  visibility: visible;
  opacity: 1;
  transform:translateY(0);
  transition: opacity 350ms, transform 350ms;
}
*[data-hint]:after {
  position: absolute;
  visibility: hidden;
  display: flex;
  width: 180px;
  top: -6px;
  left: 0;
  content: attr(data-hint);
  margin-left: calc(100% + 16px);
  justify-content: center;
  align-items: center;
  height: 48px !important;
  padding: 8px 32px !important;
  background-color: #1e9f00 !important;
  color: #fdfa65 !important;
  border-radius: 50% !important;
  white-space: pre-line;
  font-weight: 700 ;
  opacity: 0;
  transform:translateY(-100%);
}
